<!DOCTYPE html>

<html>


<head>

<link rel ="icon" href ="/img/weather.png">
</head>

<body>
    {{>header}}
    <h1 id = "about">About</h1>
    <p id = "p-about">The Mapsky specializes in weather forecasting and visualization. </p>
</body>
</html>