body{
    color:black;
    background-color: white;
}
#message1{
    font-family: 'verdana';
    font-style: bold;
    font-size: xx-large;
    font-weight: 300;
    margin-left: 29%;
}
#message2{
    font-family:  'Verdana';
    margin-left: 29%;
    font-size: large;
    color: gray;
}
.input-group{
    width: 450px;
    margin-top: 10%;
    margin-left: 30%;
}
#about{
    font-family:  'Verdana';
    margin-top: 5%;
    margin-left: 40%;
}
#p-about{
    font-family:  'Arial';
    font-size: larger;
    margin-left: 25%;
    margin-top: 5%;
}

#error{
    font-family:  'Verdana';
    margin-top: 5%;
    margin-left: 40%;
}